.expressive-features-slider {
  background: transparent;
  gap: 24px;

  .slider-main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }

  .expressive-title {
    width: 55px;
    height: 3px;
    background: #ff6b35;
    margin: 0 auto;
    margin-top: 20px;
  }

  .viewport {
    width: 985px;
    overflow: hidden;
    padding: 40px 0;
    position: relative;
    margin: 0 auto;
  }

  .cards-wrapper {
    display: flex;
    will-change: transform;
  }

  .font-style {
    text-align: center;
  }

  .embla__slide {
    flex: 0 0 200px;
    display: flex;
    justify-content: center;
  }

  .text-style {
    text-align: center;
    margin-top: 4rem !important;
  }

  .card-item {
    width: 176px;
    height: 200px;
    margin: 0 12px;
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: transparent;
    border-radius: 18px;
    text-align: center;

    position: relative;
    transition: all 0.5s ease;
  }

  .active-card {
    transform: scale(1.1) translateY(-12px);
    opacity: 1;
    z-index: 3;
  }

  .middle-card {
    transform: scale(0.92);
    opacity: 0.55;
    z-index: 2;
  }

  .back-card {
    transform: scale(0.82);
    opacity: 0.3;
    z-index: 1;
  }

  .icon-box {
    width: 60px;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 18px;
  }

  .feature-icon {
    font-size: 38px;
    color: #222;
  }

  .feature-title {
    width: 150px;
    min-height: 58px;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    text-align: center;
    line-height: 1.3;
    font-size: 17px;
    font-weight: 480;
  }

  .slider-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 35px;
  }

  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #cfcfcf;
    transition: all 0.3s ease;
  }

  .active-dot {
    background: #000;
    width: 22px;
    height: 10px;
    border-radius: 6px;
  }

  @media (max-width: 1200px) {
    .viewport {
      width: 800px;
    }
  }

  @media (max-width: 991px) {
    .expressive-features-slider {
      min-height: auto;
    }
    .viewport {
      width: 600px;
    }

    .embla__slide {
      flex: 0 0 170px;
    }

    .card-item {
      width: 150px;
      height: 210px;
    }
  }

  @media (max-width: 576px) {
    .expressive-features-slider {
      min-height: auto;
      /* ya */
      min-height: fit-content;
    }

    .viewport {
      width: 320px;
      padding: 20px 0;
    }

    .embla__slide {
      flex: 0 0 150px;
    }

    .card-item {
      width: 130px;
      height: 180px;
    }
  }
}
