.slider-section {
  max-width: 950px;
  padding: 6rem 0;
  margin: 0 auto;
}

.slider-fade-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  
  -webkit-mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,    
    rgba(0, 0, 0, 1) 12%,  
    rgba(0, 0, 0, 1) 88%,     
    rgba(0, 0, 0, 0) 100%    
  );
  
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 12%,
    rgba(0, 0, 0, 1) 88%,
    rgba(0, 0, 0, 0) 100%
  );
}

.marquee-track {
  display: flex;
  width: max-content;
  animation: slide 5s linear infinite; 
  will-change: transform;
}
.text-section {
  text-align: center;
  font-size: 1.75rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.marquee-track:hover {
  animation-play-state: paused;
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

.logos-set {
  display: flex;
  align-items: center;
  gap: 35px;
  padding-right: 35px; 
}

.logo-card {
  width: 220px;
  height: 95px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.logo-img {
  max-width: 120px;
  max-height: 80px;
  width: auto;
  height: auto;
  object-fit: contain;
  user-select: none;
  pointer-events: none;
}