@import "tailwindcss";

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.marquee {
  display: flex;
  width: max-content;
  animation: marquee 8s linear infinite;
  will-change: transform;
}
/* 
@keyframes marquee

ke saath.

Matlab browser samajhta hai:

"Achha, mujhe marquee animation chalani hai." */


/* 5s

Matlab:

5 seconds

Animation start se end tak pahunchne me 5 second legi. */

/* 
linear

Matlab speed constant rahegi. */

/* Kabhi band nahi hogi.

Loop me chalti rahegi. */

/* will-change: transform browser optimization ke liye use hota hai taaki transform-based animation zyada smooth chale. */
